body {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-position: 85%;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.about {
  width: 80vw;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 30%;
  text-align: center;
  padding: 5%;
  margin: 10% auto;
}
