body {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-position: 85%;
  background-size: cover;
}

.godown {
  width: 7vw;
  height: 7vw;
  top: 80vh;
  left: 46.5vw;
  position: absolute;
  display: flex;
  justify-content: center;
}

.down1, .down2 {
  width: 50%;
  height: 5%;
  border-radius: 5% / 50%;
  position: absolute;
  background-color: black;
  top: 60%;
  transition: background-color .5s;
}

.godown:hover .down1, .godown:hover .down2{
  background-color: white;
}

.down1 {
  transform: rotate(45deg) translateX(-46%);
}

.down2 {
  transform: rotate(315deg) translateX(46%);
}

.null {
  height: 105vh;
  position: relative;
  width: 100%;

}

.message {
  width: 80vw;
  height: 85vh;
  margin: 5vh 5%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding: 10vh 5vh;
  letter-spacing: .1vh;
  line-height: 1.5em;
}
